[env:nodemcuv2]
platform = espressif8266
board = nodemcuv2
framework = arduino
monitor_speed = 115200
lib_deps = 
	knolleary/PubSubClient@^2.8
	bblanchon/ArduinoJson@^7.4.2
build_flags =
    -D VERSION_MAJOR=1
    -D VERSION_MINOR=6
    -D VERSION_PATCH=0
    -D AP_SSID_PREFIX=\"esp-setup\"
    -D AP_PASSWORD=\"changeme123\"
board_build.filesystem = littlefs
extra_scripts = post:create_release.py
[env:native]
platform = native
test_framework = unity
test_build_src = yes
build_src_filter = -<*> +<config_codec.cpp> +<image_detect.cpp> +<net_util.cpp> +<net_decide.cpp>
build_flags = -std=gnu++17 -Iinclude
