[env:nodemcuv2]
platform = espressif8266
board = nodemcuv2
framework = arduino
monitor_speed = 115200
lib_deps = knolleary/PubSubClient@^2.8
build_flags = 
    -D WIFI_SSID=\"YOUR_SSID\"
    -D WIFI_PASSWORD=\"YOUR_PASS\"
    -D MQTT_SERVER=\"YOUR_MQTT_SERVER\"
    -D MQTT_USERNAME=\"YOUR_MQTT_USERNAME\"
    -D MQTT_PASSWORD=\"YOUR_MQTT_PASSWORD\"
    -D MQTT_DEVICE_ID=\"YOUR_MQTT_DEVICE_ID\"
    -D MDNS_HOSTNAME=\"YOUR_MDNS_HOSTNAME\"
    -D UPDATE_USERNAME=\"YOUR_UPDATE_USER\"
    -D UPDATE_PASSWORD=\"YOUR_UPDATE_PASSWORD\"
    -D VERSION_MAJOR=1
    -D VERSION_MINOR=4
    -D VERSION_PATCH=0
extra_scripts = post:create_release.py