:root {
  --bg-color: #f4f4f9;
  --card-bg: #ffffff;
  --text-color: #333333;
  --border-color: #cccccc;
  --btn-bg: #7678ed;
  --btn-hover: #5152a4;
  --status-color: #555555;
  --hover-border: #007bff;
}
[data-theme="dark"] {
  --bg-color: #121212;
  --card-bg: #1e1e1e;
  --text-color: #e0e0e0;
  --border-color: #444444;
  --btn-bg: #7678ed;
  --btn-hover: #5152a4;
  --status-color: #aaaaaa;
  --hover-border: #0069d9;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  transition: background-color 0.3s, color 0.3s;
}
.container {
  background: var(--card-bg);
  border: 0.11rem solid;
  border-color: #fcf6bd;
  margin-top: 100px;
  margin-bottom: 100px;
  height: fit-content;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
  transition: background-color 0.3s;
}
h2 {
  margin-bottom: 1.5rem;
  color: var(--text-color);
}
#version-status {
  margin-bottom: 1rem;
  font-style: italic;
  color: var(--status-color);
}
.file-upload {
  position: relative;
  display: inline-block;
  width: 100%;
  margin-bottom: 1rem;
}
input[type="file"] {
  display: none;
}
.custom-file-upload {
  border: 2px dashed var(--border-color);
  display: inline-block;
  padding: 10px 12px;
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
  border-radius: 5px;
  color: var(--text-color);
  transition: all 0.3s;
}
.custom-file-upload:hover {
  border-color: var(--hover-border);
  color: var(--hover-border);
}
.btn {
  background-color: var(--btn-bg);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  transition: background 0.3s;
}
.btn:hover {
  background-color: var(--btn-hover);
}
.btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
.btn-danger {
  background-color: #dc3545;
  margin-top: 1rem;
}
.btn-danger:hover {
  background-color: #c82333;
}
#btn-info{
    color: #80ed99;
    background-color: #333333;
    border: 0.11rem solid #80ed99;
}
#btn-info:hover{
    background-color: #312b9d;
}
#progress-container {
  width: 100%;
  background-color: var(--border-color);
  border-radius: 5px;
  margin-top: 1rem;
  display: none;
  overflow: hidden;
}
#progress-bar {
  width: 0%;
  height: 20px;
  background-color: #28a745;
  text-align: center;
  line-height: 20px;
  color: white;
  transition: width 0.1s ease;
}
#status {
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: var(--status-color);
}
.theme-toggle {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  font-size: 24px;
  user-select: none;
}
#esp-info-table {
  margin-top: 20px;
}
